---
import { ClientRouter } from "astro:transitions";

import { getLangFromUrl } from "@/i18n/utils";

import HeadSEO from "@/components/HeadSEO.astro";
import Footer from "@/components/Footer";
import Header from "@/components/Header.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const { title, description, ogImage } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
    <ClientRouter />
  </head>
  <body class='bg-background min-h-screen font-sans antialiased'>
    <div class='relative flex min-h-screen flex-col'>
      <Header />
      <main class='flex-auto'>
        <slot />
      </main>
      <Footer lang={lang} client:visible />
    </div>
  </body>
</html>
